<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            background: #494949;
            color: white;
            display: flex;
            justify-content: center;
        }
        h1 {
            color: yellow;
        }
        body > div {
            margin-top: 7em;
        }
        div > div {
            margin-top: 3rem;
        }
        ul > li {
            padding-top: 5px;
        }
        a:visited {
            color: yellow
        }
    </style>
</head>
<body>
    <div>
    <h1>404 - Page Not Found</h1>
    <div>
        <p>Try Checking:</p>
        <ul>
            <li>That the path is propery typed</li>
            <li>That there is a valid network</li>
            <li>The link is from a valid source</li>
            <li>Try refreshing</li>
            <li>Or visit <a href='/'>Home page</a></li>
        </ul>
    </div>
    </div>
</body>
</html>